body {
    margin: 0;
    padding: 0;
  }

.portal {
  visibility: hidden;
  opacity: 0;
}

.img-1 {
    background-image: url('img/bg3.png');
    background-size: cover;
    height: 110vh;
}

.login-box {
    background: #ffffff;
    color: #fff;
    box-sizing: border-box;
    padding: auto;
    box-shadow: 10px;
    align-items: center;
  }
  
  .login-box .box-login .avatar {
    width: 150px;
    height: 150px;
    margin: 15px 0px;
  }
  
  .box-avatar{
    text-align: center;
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    color: #083484;
    text-align: center;
    font-size: 30px;
    font-weight: 650;
  }
  
  .login-box label {
    font-family: 'Archivo', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 650;
    color: #083484;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    font-family: 'Archivo', sans-serif;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #083484;
    background: transparent;
    outline: none;
    height: 40px;
    color: #1f1f1f;
    font-size: 16px;
    width: 95%;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    color: #ffffff;
    background: #083484;
    font-size: 18px;
    border-radius: 15px;
    font-family: 'Archivo', sans-serif;
    
  }
  
  .login-box input[type="submit"]:hover {
    color: #ffffff;
    cursor: pointer;
    background: #0053c7;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }
  
  .box-login {
    margin: 11% 15%;
    border-radius: 10px;
    padding: 7%;
  }

  @media (max-width: 990px) {
    .img-1{
      height: 22vh;
      padding: 2% 0;
    }

    .box-login {
      margin: 2% 12%;
    }

    .portal {
      font-size: 35px;
      z-index: 1000;
      visibility: visible;
      opacity: 1;
      color: #ffffff;
      text-align: center;
      font-weight: 700;
      text-shadow:  0 5px 10px rgba(0, 0, 0, 0.8);
    }
  }

  @media (max-width: 700px) {
    .img-1{
      height: 22vh;
      padding: 4% 0;
  }
}
